/*------------------------------------------------------------------------------

	Template Name: Yebo
	Template URI: http://www.dhimanbarua.com
	Description: Bicycle related website
	Author Name: Dhiman Barua
	Author URI: http://www.dhimanbarua.com
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html
	Version: 1.0

------------------------------------------------------------------------------
	1. Typography
	2. Header Area
		2.1 Menu Area
	3. Intro Area
	4. Oliva Area
	5. Boriosa Area
	6. Bicycle Area
	7. ‍Shop Now Area
	8. ‍Discover Area
	9. ‍Contact Us Area
	10. Footer Area
-------------------------------------------------------------------------------*/


/********* 1. Typoghrapi Area ******/
@font-face {
	font-family: "LatoRegular";
	src: url('fonts/LatoRegular.woff') format('woff');
}

@font-face {
	font-family: "LatoItalic";
	src: url('fonts/LatoItalic.woff') formal('woff');
}

body,
p {
	font-family: "LatoRegular";
	color: #848789;
}

h3 {
	font-size: 17px;
	color: #353738;
	font-weight: bold;
	letter-spacing: 4px;
	text-transform: uppercase;
}
h4 {
    font-size: 17px;
    color: #353738;
    font-weight: bold;
    letter-spacing: 2px;
}
h5 {
	font-size: 30px;
	color: #848789;
	font-family: "LatoItalic";
}

/*============== 2. Header Area ==================*/
.header-area {
	overflow: hidden;
	position: relative;
}
.header-area .menu-area {
	display: block;		
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 10px;
	width: 100%;
}


/*=============== 2.1 Menu Area ===================*/
.menu-area ul li {
	margin: 0 15px;
}
.menu-area ul li a {
	text-decoration: none;
	color: #4d4959;
	text-transform: uppercase;
	font-size: 18px;
}
.menu-area ul li a:hover {}

.menu-area ul .logo {
	margin: 20px;
	width: 70px;
	height: auto;
}

/*============= 3. intr Area =========== */

.intro-area {
	background: #f7f7f7;
	padding: 90px 0;
}

.intro p {
	margin-top: 20px;
	font-size: 17px;
	line-height: 30px;
	width: 70%;
	margin: auto;
}

/*=============== 4. Oliva Area ==================*/
.oliva-area {
	overflow: hidden;
	max-height: 493px;
}
.oliva-area .oliva-left {
	background-image: url(images/vintage-oliva-bg.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 200px 0;
	border: 1px solid #989197;
}
.oliva-area .oliva-right {
	
}
.space {
	padding: 56px 0px;
	margin: 0 40px;
}
.full-width {
	padding-right: 0;
	padding-left: 0;
}
.sub-logo {
	width: 90px;
	margin: 0 auto;
	display: block;
}
.line {
	margin-top: 26px;
}
.oliva-bottom  img {
	width: 100%;
	height: auto;
}
.oliva-bottom {
	position: relative;
}
.oliva-bottom::after {
	position: absolute;
	content: '';
	top: 0;
	left: 219px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #FFFFFF;
}

/*=================== 5. Boriosa Area ==================*/
.boriosa-area {
	overflow: hidden;
	max-height: 493px;
}
.boriosa-bottom img {
	width: 100%;
	height: auto;
}
.boriosa-bottom {
	position: relative;
	padding: 3px 0;
}
.boriosa-bottom::after {
	position: absolute;
	content: "";
	top: 0;
	left: 207px;
	width: 0px;
	height: 0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #FFFFFF;
}
.boriosa-left {
	overflow: hidden;
}
.boriosa-right {
	background-image: url('images/boriosa-bg-right.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	padding: 185px 0;
	border: 1px solid #989197;
}
.boriosa-right img {
	width: 150px;
	margin: 0 auto;
	display: block;
}

/************* 5. bicycle-area **********/
.bicycle-area {
	overflow: hidden;
	max-height: 493px;
}
/*.bicycle-frame {
    background-image: url("images/frame-bg.jpg");
    background-repeat: no-repeat;
    padding: 219px 0;
    background-position: 51% 0%;
}*/
.rim-top {
    overflow: hidden;
    padding: 55px 0;
}
.rim-bottom {
	position: relative;
}
.rim-bottom::after {
	position: absolute;
	content: '';
	top: 0;
	left: 218px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #FFFFFF;
}
/*.bicycle-frame img,
.rim-bottom img,
.road-bicycle img {
	width: 100%;
	height: auto;
}*/

/******** 6. ‍Social Media Area *******/

.twitter-area{
	background: #F7F7F7;
	padding: 50px 0;
}
.social {
	
}
.twitter a .fa {
    font-size: 32px;
    color: #56C7EE;
    margin-bottom: 10px;
}
.twitter .time {
	color: #afb1b2;
	font-weight: normal;
}
.twitter p {
    font-size: 22px;
    font-family: "LatoItalic";
    padding-top: 12px;
    font-style: italic;
}

/******** 7. ‍Shop Now Area *******/

.shop-now-area {

}
.shop-left-top .left-top {
	width: 50%;
	height: auto;
	overflow: hidden;
	float: left;
}
.shop-left-top .left-top {
	width: 50%;
	height: auto;
}
.shop-left-bottom> img {
	width: 100%;
	height: auto;
}
.shop-middle-left {
	overflow: hidden;
}
.shop-middle-left .middle-left {
	width: 50%;
	min-height: 491px;
	overflow: hidden;
	float: left;
}
.shop-middle-right .middle-left{
	width: 50%;
	min-height: 491px;
}

.shop-right-top> img {
	width: 100%;
	height: auto;
}
.shop-bottom-area {
	
}
.shop-right-bottom .right-bottom {
	width: 50%;
	height: auto;
	overflow: hidden;
	float: left;
}
.shop-right-bottom .right-bottom {
	width: 50%;
	height: auto;
}
/*** overlay on the shop-now-area ***/
.shop-all-overlay {
	position: relative;
	overflow: hidden;
}
.shop-overlay {
	position: absolute;
	background: rgba(97, 172, 144,.7);
	width: 100%;
	height: 100%;
	top: -100%;
	transition: .5s;
}
.shop-all-overlay:hover .shop-overlay {
	top: 0%;
}
.shop-all-overlay:hover .shop-icon {
	bottom: 30%;
	transition: .5s;
}
.shop-icon {
	position: absolute;
	left: 40%;
	bottom: -100%;
}

.shop-icon a {
    width: 126px;
    color: #FFF;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    margin: 10px auto;
    font-size: 15px;
    letter-spacing: 2px;
}
.shop-icon a img {
	margin-left: 16px;
	overflow: hidden;
}

/******** 8. ‍Discover Area *******/
.discover-area {
	background: #282F35;
	padding: 90px 0;
}
.discover-area a{
    border: 1px solid #94979a;
    text-transform: uppercase;
    color: #FFF;
    padding: 15px 20px;
    letter-spacing: 2px;
	text-decoration: none;
}
.discover-area a:hover {
	background: rgba(97, 172, 144,.7);
	transition: .5s;
	border: 1px solid #FFFFFF;
}

/******** 9. ‍Contact Us Area *******/

.contact-us-area {
	background: #FFFFFF;
	padding: 65px 0;
}
.contact-us h5 {
	padding-top: 15px;
}
.contact-us .form-group {
	padding-top: 10px;
}
.form-control {
    display: inline;
    width: 75%;
    height: 65px;
    padding: 6px 12px;
    font-size: 17px;
    color: #555;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.btn-green {
	background: #64c29e;
	color: #FFFFFF;
	text-transform: uppercase;
}
.btn-green:hover {
	background: #FFFFFF;
	border: 1px solid #64c29e;
	transition: .5s;
}
.btn {
    display: inline-block;
	padding: 17px 24px;
	margin-bottom: 0;
	font-size: 21px;
	vertical-align: middle;
	border: 1px solid transparent;
	border-radius: 0;
}

/******** 10. Footer Area ********/
.footer-area {
	background: #F7F7F7;
	padding: 50px 0;
}
.container {
	width: 970px;
	padding-right: 0;
	padding-left: 0;
}
.social-area {
	margin-top: 30px;
}
.social-area .fa-twitter {
    width: 30px;
    height: 30px;
    background: #78CDF0;
    color: #FFFFFF;
    border-radius: 100%;
    padding-top: 5px;
    font-size: 17px;
	border: 1px solid transparent;
}
.social-area a:hover .fa-twitter {
	background: #FFFFFF;
	color: #78CDF0;
	border: 1px solid #78CDF0;
}
.social-area .fa-facebook {
    width: 30px;
    height: 30px;
    background: #537bbd;
    color: #FFFFFF;
	border-radius: 100%;
    padding-top: 5px;
    font-size: 17px;
	border: 1px solid transparent;
}
.social-area a:hover .fa-facebook {
	background: #FFFFFF;
	color: #537bbd;
	border: 1px solid #537bbd;
}
.social-area .fa-pinterest {
    width: 30px;
    height: 30px;
    background: #eb5755;
    color: #FFFFFF;
	border-radius: 100%;
    padding-top: 5px;
    font-size: 17px;
	border: 1px solid transparent;
}
.social-area a:hover .fa-pinterest {
	background: #FFFFFF;
	color: #eb5755;
	border: 1px solid #eb5755;
}
.social-area a {
    padding: 0 5px;
}
.footer-area strong {
	font-family: "LatoRegular";
	font-weight: bold;
}
.footer-area span {
	font-family: "LatoItalic"; 
}
.footer-area a {
	font-family: "LatoItalic";
	text-decoration: none;
	color: #848789;
}
.yebo-logo {
	margin-top: 28px;
}
.yebo-logo span {
	font-family: "LatoItalic";
}
